

nav {
	text-transform: uppercase;
	font-family: ;
}

body {

}

title {

}

h1 {
	font-family: ;
	font-size: 5rem;
}

p {
	font-family: ;
	font-size: 1.2rem;
}

li {
	font-family: ;
	font-size: 1rem;
	color: red;
}

img {
	max-width: 100%;
	padding: 5px;
	margin: 5px;

}

body img {
/*	max-width: 10rem;*/

}

/*Classes start*/

/*for your media queries this article is a good resource /**/
/*https://web.dev/learn/design/media-queries?continue=https%3A%2F%2Fweb.dev%2Flearn%2Fdesign%2F%23article-https%3A%2F%2Fweb.dev%2Flearn%2Fdesign%2Fmedia-queries*/*/

/*@media {}*/

/*\{
  // Styles for viewports wider than 400 pixels.
	200px
	576px 
	768px
	992px
	1200px
}
*/
@media (max-width:200px) {
	body {
		background: hotpink;
	}
	img {
		max-width: 100%;
	}

}

@media (min-width: 201px) and (max-width:575px) {
	body {
		background: darkcyan;
	}
}

@media (min-width: 576px) and (max-width:768px) {
	body {
		background: greenyellow;
	}
}


@media (min-width: 769px) and (max-width:1000px) {
	body {
		background: lightcyan;
	}
}

@media (min-width: 1001px)  {
 	body {
 		background: #fff;
	}
}
