

nav {
	text-transform: uppercase;
	font-family: ;
}

body {
/*	background: mediumpurple;*/
	background: linear-gradient(#e66465, #9198e5);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Roboto", sans-serif;
}

title {

}

h1 {
	font-family: "Sanchez", serif;
	font-size: 5rem;
	
}

p {
	font-family: "Crimson Text", serif;
	font-size: 1.2rem;
	color: #474747;
}

li {
	font-family: ;
	font-size: 1rem;
	color: red;
}

img {
	max-width: 100%;
	padding: 5px;
	margin: 5px;

}

body img {
/*	max-width: 10rem;*/

}

a:link {
	color: red;
}

#test {
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.text-highlight {
	background: #b17200;
/*	color: #c4c4ff;*/
	color: lightcyan;
}


/*Classes start*/

.shadow {
	text-shadow: 10px 1px 2px orangered;	
}

.copyright {
	font-size: 0.9rem;
}

.flex-example {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
}

.blue {
	padding: 1rem;
	min-width: 50px;
	min-height: 50px;
	background: blueviolet;
	border: 5px solid darkred;
}

.red {
	padding: 1rem;
	min-width: 50px;
	min-height: 50px;
	background: darkcyan;
	border: 5px dotted darkgreen;
}

.green {
	padding: 1rem;
		min-width: 50px;
	min-height: 50px;
	background: seagreen;
	border: 5px solid mediumpurple; 
}

.orange {
	padding: 1rem;
		min-width: 50px;
	min-height: 50px;
	background: lightcoral;
	border: 5px dotted darkorange;
}

footer a {
	color: darkcyan;
}

/*for your media queries this article is a good resource /**/
/*https://web.dev/learn/design/media-queries?continue=https%3A%2F%2Fweb.dev%2Flearn%2Fdesign%2F%23article-https%3A%2F%2Fweb.dev%2Flearn%2Fdesign%2Fmedia-queries*/*/

/*@media {}*/

/*\{
  // Styles for viewports wider than 400 pixels.
	200px
	576px 
	768px
	992px
	1200px
}
*/
@media (max-width:200px) {
	body {
		background: hotpink;
	}
	img {
		max-width: 100%;
	}

}

@media (min-width: 201px) and (max-width:575px) {
	body {
		background: darkcyan;

	}
	nav {
		display: flex;
		flex-direction: column;
		

/*		padding: 1rem;*/
		margin: 0.2rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	nav a {
		font-family: "Anta", sans-serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
		width: 100%;
		padding: 0.2rem;
		margin: 0.1rem;
		background: #ffbb76;
		border-radius: 0.1rem;
		border: 1px solid #76baff;
	}

	h1 {
		font-size: 2rem;
		background: #b17200;
		color: skyblue;
		text-align: center;
	}
	img {
		max-width: 90%;
		border: 5px solid crimson;
		border-radius: 15rem;
	}
}

@media (min-width: 576px) and (max-width:768px) {
	body {
		background: linear-gradient(#e66465, #9198e5);
	}
}


@media (min-width: 769px) and (max-width:1000px) {
	body {
		background: lightcyan;
	}
}

@media (min-width: 1001px)  {
 	body {
 		background: #fff;
	}
}
